@font-face {
    font-family: 'Pilowlava';
    src: url('fonts/Pilowlava-Regular.woff2');
    src: url('fonts/Pilowlava-Regular.woff');
    src: url('fonts/Pilowlava-Regular.otf');
}
@font-face {
    font-family: 'Syne';
    src: url('/fonts/Syne-Regular.woff2') format('woff2'),
        url('/fonts/Syne-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

:root {
    --grid-gap: 10px;
    --perspective: 500px;
    --logo-size: 20vw;
}

*, *:before, *:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body {
    width: 100%;
    height: 100%;
}
.section-wrapper {
    display: grid;
    column-gap: var(--grid-gap);
    row-gap:  var(--grid-gap);
    grid-template-columns: 1fr 1fr;
    overflow-y: scroll;
    overflow-x: hidden;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    perspective: var(--perspective);
    perspective-origin: 50% 10%;
}
.item {
    font-size: 2vw;
    position: relative;
    margin:3vw;
    font-family: "Syne";
    transform-style: preserve-3d;

}
.item:hover .thumbnail {
    transform: translateZ(-1px)translateX(10vw)translateY(1vw);
}
.thumbnail {
    transition: all 2s;
    width: 20vw;
    height: 20vw;
    background-color: black;
    vertical-align: middle;
    transform: translateZ(-10vw)translateX(10vw);
    transform-style: preserve-3d;
}
.thumbnail > img {
    max-width: 100%;
    max-height: 100%;
    position: absolute;  
    top: 0;  
    bottom: 0;  
    left: 0;  
    right: 0;  
    margin: auto;
}
.title {
    width: 90%;
    margin-left: 5%;
    border-radius: 0%;
    background-color:darkseagreen;
    text-align:center;
    transform-origin: 50% 100%;
    border: 1px solid black;
    transform: rotateX(10deg) translateZ(-1vw);
    transform-style: preserve-3d;
}
.section-wrapper > a {
    text-decoration: none;
    color:black;
    transform-style: preserve-3d;
}
.description {
    background-color: white;
    font-family: "Syne";
    display: border-box;
    font-size: 12px;
    margin: 1vw;
    padding: 20px;
    border: 1px solid black;
    transform-style: preserve-3d;
}
.item::before {
    content: '';
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    height: 50%;
    background: lavender;
    border: 1px solid black;
    transform-origin: 50% 100%;
    transform: rotateX(90deg);
    transform-style: preserve-3d;
}
.logo-container {
    text-align: center;
    grid-column-start: 1;
    grid-column-end: 3;
    transform-style: preserve-3d;
}
.logo-container > * {
    font-family: "pilowlava";
    font-size: var(--logo-size);
    border: none;
    pointer-events: none;
    transform: translateZ(-5vw);
    background: linear-gradient(90deg, rgba(179,18,237,0.5) 0%, rgba(202,242,9,0.5) 100%);
    transform-style: preserve-3d;
}
.logo-image {
    width: var(--logo-size);
    border: none;
    transform-style: preserve-3d;
}
footer {
    position: sticky;
    margin-top: -3vw;
    text-align: center;
    pointer-events: none;
    font-family: "Syne";
    font-size: 2vw;
    color: black;
}
@media only screen and (max-width: 700px) { /* { fix making a 1 lane layout for mobile and small screens */
    
    .thumbnail {
        transform: translateZ(-15vw)translateX(26vw);
        width: 40vw;
        height: 40vw;
        padding-top: 10vw;
        padding-bottom: 10vw;
    }
    .item:hover .thumbnail {
        transform: translateZ(-1px)translateX(26vw);
    }
    .section-wrapper{
        grid-template-columns: 100%;
    }
    .logo-container{
        grid-column-start: 1;
        grid-column-end: 2;
    }
    .logo-container > * {
        transform: translateZ(-10vw);
    }
    .item {
        font-size: 4vw;
    }
}