@font-face {
    font-family: 'Necto Mono';
    src: url('NectoMono-Regular.woff2') format('woff2'),
        url('NectoMono-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

*, *:before, *:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
    font-family: 'Necto Mono';
}
html,body {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: fixed;
    background-color: #999;
}
body {
    min-height: 100vh;
    /* mobile viewport bug fix */
    min-height: -webkit-fill-available;
}
  
html {
    height: -webkit-fill-available;
    touch-action: manipulation;
}

main {
    height: calc(100% - 5vh);
    display: grid;
    /* align-content: end; */
}

.bottom {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr; 
    grid-template-rows: 1fr 1fr 1fr 1fr;
    justify-content: center; 
    justify-items: center;
    /* gap: 10px 10px;  */
    grid-template-areas: 
    "slider-l . . slider-r"
    "slider-l . . slider-r"
    "vol-l . . vol-r"
    "vol-l . . vol-r"; 
}

/* all header elements */

.header-div {
    width: 33vw;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

header {
    display:flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    justify-items: center;
    /* padding-top: 1vh; */
}

/* the + button */
.header-div > button {
    width: 33vw;
    height: 5vh;
    border-radius: 20px;
    color:white;
    text-decoration:none;
    background-color:#44c767;
    border: none;
    font-size: 2em;
}
.header-div > button:hover {
    background-color:#2f8846;
}
.header-div > label {
    font-size: 3vw;
}
.header-div > label::after {
    content:" BPM";
}
/* the text inside the div in header */
.bpm-indicator-left, .bpm-indicator-right {
    height: 3vh;
    width: 3vh;
    background: black;
    background: radial-gradient(#e66465, #9198e5);
}

/* ADDSONG STYLING */

.addsong {
    display: block;
    position: absolute;
    /* visibility: hidden; */
    top:7vh;
    left: 5vw;
    text-align: center;
    background-color: rgb(58, 58, 58);
    width: 90vw;
    height: 80vh;
    border-radius: 20px;
}

.addsong-container {
    display: grid;
    justify-content: stretch;
    align-content: start;
    align-items: center;
    justify-items: center;
    padding: 10px;
    height: 100%;
    width: 100%;
}

.addsong-searchbar-container {
    display: flex;
    justify-content: center;
    align-content: start;
    align-items: center;
    justify-items: center;
    width: 100%;
    height: 5vh;
    margin: 10px;
    background-color: #535353;
    border-radius: 20px;
}

.addsong-searchbar-container > input {
    background: transparent;
    flex: 1;
    border: 0;
    outline: none;
    padding: 24px 20px;
    font-size: 20px;
    color: #cac7ff;
}

.addsong-track {
    width: 100%;
    height: 100%;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    justify-items: center;
    border-radius: 20px;
}

.addsong-track-image-container > img {
    width: 22vw;
    border-radius: 20px;
}

hr {
    width: 75%;
    border: none;
    height: 1px;
    color: white;
    background-color: white;
    margin: 5px;
}

.add-song-track-artist {
    font-size: 2.5vw;
}
.add-song-track-songname {
    font-style: italic !important;
    color: #a9a9a9;
}
.add-song-track-songname::before {
    content: "Single - ";
}

.one-em {
   font-size: 3vw;
   margin: 5px;
}
.secondary-text {
    color: #a9a9a9;
}
.addsong-track-info-container > label {
    padding-top: 3px;
    padding-bottom: 3px;
}

.addsong-track-image-container {
    margin: 10px;
}
.addsong-track-info-container {
    display: grid;
    justify-content: stretch;
    width: 50%;
    height: 90%;
    font-size: 2vw;
    align-content: center;
    align-items: center;
    justify-items: center;
    background-color: #393939;
    border-radius: 20px;
}
.spotify-checkbox-container {
    display: flex;
    align-content: center;
    align-items: center;
    justify-items: center;
    justify-content: stretch;
    border: 1px solid blue;
    margin: 5px;
    padding: 5px;
    border-radius: 20px;
    background-color: rgb(124, 122, 255);
}
.spotify-checkbox-container > label {
    padding: 5px;
}

/* DECK CHOSE */
.addsong-deckchose {
    display: flex;
    align-content: center;
    align-items: center;
    justify-items: center;
    justify-content: center;
    width: 100%;
    height: 20vh;
    gap: 10px 10vw;
}
.addsong-deckchose > * {
    width: 30%;
    height: 50%;
    border-radius: 20px;
    border: none;
    background-color: #000000;
    font-size: 1em;
    color:white;
}

.italic {
    font-style: italic;
}

/* BUTTON AND SLIDER STYLING */

.round-button {
    height: 8vh;
    width: 8vh;
    background-color: #ffffff;
    border-radius: 50%;
    box-shadow: 0px 3px 10px rgb(103, 103, 103);
}

.square-button {
    height: 40px;
    width: 75px;
    background-color: #ffffff;
    box-shadow: 0px 3px 10px rgb(103, 103, 103);
}

.button-container {
    display: grid;
    justify-content: center;
    align-content: center;
    align-items: center;
    justify-items: center;
}

div > input[type=range] {
    rotate: -90deg;
}

/* ALL LABELS */
div > label {
    font-size: 0.8em;
    text-align: center;
    padding: 10px;
    color:white;
}

.slider-left  { 
    grid-area: slider-l; 
}
.slider-right { 
    grid-area: slider-r;
}

.display-grid {
    display: grid;
    justify-content: center;
    align-content: center;
    align-items: center;
    justify-items: center;
}
.max-size-button {
    width: 80px;
    height: 50px;
    margin: 10px;
}

.vol-left { 
    grid-area: vol-l; 
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    justify-items: center;
}
.vol-right { 
    grid-area: vol-r; 
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    justify-items: center;
}

.button-label {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    justify-items: center;
}

/* SLIDER STYLING BELOW */
input[type=range] {
    -webkit-appearance: none;
    outline: none;
    background: black;
}
input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 3vh;
    height: 10vw;
    background: red;
    cursor: pointer;
}
input[type=range]::-moz-range-thumb {
    width: 1vh;
    height: 5vw;
    background: red;
    cursor: pointer;
}
.hidden {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s linear 0.5s, opacity 0.5s ease-in-out;
}

.visible {
    visibility: visible;
    opacity: 1;
    transition: visibility 0s linear, opacity 0.5s ease-in-out 0.5s;
}